<h2>register page {{test}}</h2>
<input type="text" placeholder="Name" ng-model="user.name">
<input type="password" placeholder="Password" ng-model="user.password">
<button class="button button-full button-positive" ng-click="signup()">
  Sign up
</button>
